html, body {
	background-color: #c1c1c1;
	font-family: arial, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	height: 100%;
}

.navbar {
	background-color: rgb(140, 140, 140);
	overflow: hidden;
	margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

.navbar a {
	float: middle;
	color: rgb(50, 50, 50);
	text-align: center;
	padding: 14px 16px
	text-decoration: none;
	font-size: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.navbar a:hover {
	background-color: lightblue
}
