body {
	background-color: rgb(175, 175, 175);
	font-family: arial, sans-serif;
	font-size: 14px;
}

.navbar {
	background-color: rgb(140, 140, 140);
	overflow: hidden;
}

.navbar a {
	float: left;
	color: rgb(90, 90, 90);
	text-align: center;
	padding: 14px 16px
	text-decoration: none;
	font-size: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.navbar a:hover {
	background-color: lightblue
}
